*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #434455;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* -------------------- */

/* ----------HEADER---------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.header-logo-decor {
  color: #2e2f42;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-navigation-list {
  display: flex;
  gap: 40px;
}

.header-navigation-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: '';
  border-radius: 2px;
  background-color: #404bbf;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-adress {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

.header-adress-link {
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: #404bbf;
}

/* -------------------- */

/* ----------HERO---------- */

.hero-container {
  flex-direction: column;
  align-items: center;
}

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* -------------------- */

/* ----------ADVANTAGES--------- */

.advantage {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-list {
  display: flex;
  gap: 24px;
}

.advantage-list-items {
  display: block;
  width: calc((100% - 3 * 24px) / 4);
}

.advantage-list-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.advantage-list-icon {
  margin: 0;
}

.list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -------------------- */

/* ----------TEAM--------- */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
  display: block;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  text-align: center;
  background-color: #fff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-content {
  padding-bottom: 32px;
  padding-top: 32px;
}

.team-list-text {
  margin-bottom: 8px;
}

.team-list-block {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-shrink: 0;
  margin-bottom: 0;
}

.team-list-socials {
  height: 40px;
  width: 40px;
}

.team-list-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icons {
  fill: #fff;
}

.team-list-link:hover,
.team-list-link:focus {
  background-color: #404bbf;
}

.team-list-link:hover .team-list-icons,
.team-list-link:focus .team-list-icons {
  fill: #f4f4fd;
}

/* -------------------- */

/* ----------PORTFOLIO--------- */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
  display: block;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-overlay {
  position: relative;
}

.portfolio-list-item {
  background: #fff;
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item img {
  max-width: 100%;
}

.portfolio-list-box {
  position: relative;
  overflow: hidden;
}

.box-overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay:hover .portfolio-list-box .box-overlay-card {
  transform: translateY(0);
}

/* -------------------- */

/* ----------FOOTER--------- */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-info {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-decor {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-container-links {
}

.footer-media {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-block {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 0;
}

.footer-socials {
  width: 40px;
  height: 40px;
}

.footer-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

/* .footer-link:hover .footer-icon,
.footer-link:focus .footer-icon {
  fill: #f4f4fd;
} */

/* -------------------- */
